Package: __PACKAGE__
Version: __VERSION__
Architecture: __ARCHITECTURE__
Maintainer: __MAINTAINER__
Section: net
Priority: optional
Homepage: __HOMEPAGE__
Description: A toy implementation of an encrypted IPv6 network, with many
 good ideas stolen from cjdns. It's notably not a shortest path routing scheme,
 with the goal of scalable name-independent routing on dynamic networks with an
 internet-like topology.
